[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SwimmeR"]
	path = SwimmeR
	url = https://github.com/gpilgrim2670/swimmer
[submodule "ThreeWiseMonkeys"]
	path = ThreeWiseMonkeys
	url = https://github.com/gpilgrim2670/threewisemonkeys
